@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

html, body,
#root, .app {
  width: 100%;
  background-color: #282e35;
  font-family: "Inter";
}